.stats-container {
  color: var(--background);
}

.stats-item-container {
  text-align: center;
  color: var(--background);
}

.stats-item-container h6 {
  margin: -0.5rem 0 0 0;
  color: var(--background-secondary);
  white-space: nowrap;
  font-weight: normal;
}

.stats-item-container p {
  margin-bottom: 0;
  padding: 0 1rem 0 1rem;
  font-size: 2rem;
}
