.navbar-container {
  height: 4rem;
  position: fixed;
  left: 0;
  top: 0;

  background-color: var(--background);
  z-index: 100;
}

.logo {
  height: 4rem !important;
  padding: 0.5rem;
  z-index: 2;
  pointer-events: none;
}

.navlinks {
  color: white;
  z-index: 1;
}

.navlink {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
}

.navlink:hover {
  color: var(--secondary);
}
