.header-container {
  height: 20rem;
  background-color: var(--background);
  color: white;
  position: relative;
}

.search-container {
  background-color: var(--primary);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
