.header-container {
  height: 20rem;
  background-color: var(--background);
  color: white;
  position: relative;
}

.header-image {
  height: 100%;
  width: 50%;
  top: 0;
  right: 16.66666vw;
  object-fit: cover;
  object-position: top;
  position: absolute;
  z-index: 1;
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 60%, transparent 100%);
  filter: drop-shadow(0px -5px 10px white);
}

.header-text {
  padding-top: 2rem;
  z-index: 2;
  position: absolute;
}

.header-line-1 {
  font-size: 5rem;
}

.header-line-2 {
  font-size: 1.25rem;
  max-width: 50%;
  text-align: justify;
}

.search-container {
  background-color: var(--primary);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#image-selector {
  margin-top: 1rem;
}

/* lg sizing */
@media (max-width: 992px) {
  .header-text {
    padding: 2rem;
    padding-bottom: 1rem;
    text-align: left;
  }

  .header-line-1 {
    font-size: 8vw;
  }

  .header-line-2 {
    max-width: 100%;
  }
}

/* xl sizing */
@media (max-width: 1200px) {
  .header-image {
    right: 0;
    width: 100%;
  }
}
